<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="title"><%= @category.title %></h1>

		<div class="row index">
			<table class="table index_table">
				<tr>
					<td width="300"><%= @word.content %></td>
					<% @choices.each do |choice| %>
						<td width="300"><%= choice.content %></td>
					<% end %>
				</tr>

			</table>
		</div>

	</div>
</div>