<div class="row">
	<div class="col-md-6 p-5 mx-auto text-center">
			
		<%= image_tag("user_images/#{@user.image_name}", class: "user_image") %>

		<div class="user_name">
			<%= @user.name %>
		</div>

		<%#= image_tag("frame.png", class: "frame d-block mx-auto") %>
		<hr style="width: 200px;">

		<div class="d-inline-block px-4 mt-2">
			<p>Following</p>
			<%#= @user.following.count %>
		</div>
		<div class="d-inline-block px-4 mt-2">
			<p>Followers</p>
			<%#= @user.following.count %>
		</div>

		<!-- このへんにボタン -->
		
	</div>

	<div class="col-md-6 p-5">
		<h1 class="title">Activities</h1>

		<%# @user.microposts.each do |micropost| %>
			<div class="media p-2">
				<div class="media-body">
					<h5><%#= link_to micropost.user.name, user_path(micropost.user) %></h5>
					<%#= micropost.content %>
				</div>
			</div>
		<%# end %>
	</div>
</div>