<div class="row">
	<div class="offset-md-2 col-md-8">
		<h1 class="title">Lessons</h1>

		<div class="row index">
			<% @categories.each do |category| %>
				<div class="col-md-6 mb-3 px-2">
					<div class="category_each p-3">
						<div class="category_title">
							<%= category.title %>
						</div>
							<%= category.description %>
						<div class="category_btn">							
						<% if lesson = current_user.lessons.find_by(category_id: category.id) %>
							<%= link_to "Check result", lesson_path(lesson), class: "btn btn-outline-info" %>
						<% else %>
							<%= button_to "Start lesson", lessons_path, params: {category_id: category.id}, class: "btn btn-info" %>
						<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>